
@model CustomerPortal.ViewModel.TransferViewModel
@{
   ViewData["Title"] = "Transfer Funds";
}

<div class="text-center justify-content-center align-items-center d-flex flex-column">
   <h3 class="mb-3 text-center">Transfer Funds</h3>
   <h6 class="text-center text-muted mb-2">Select a source account, a destination account and add the amount below to transfer funds.</h6>
   
   <div class="justify-content-center mb-5">
      <div class="p-4 justify-content-center" style="width: 400px;">
         <div asp-validation-summary="All" class="text-danger"></div>

         @if (!string.IsNullOrEmpty(Model.Message))
         {
            <div class="alert @(Model.IsSuccess ? "alert-success" : "alert-danger") text-center">
               @Model.Message
            </div>
         }
         <form asp-controller="Transfer" asp-action="Index" method="post" onsubmit="return confirm('Are you sure you want to process Transfer?');">
            <div class="form-group mb-3">
               <label asp-for="SourceAccNumber">Account</label>
               <select asp-for="SourceAccNumber" class="form-select" required>
                  <option value="">Select account</option>
                  @foreach (var acc in Model.CustomerAccounts)
                  {
                     <option value="@acc.AccountNumber">
                        @acc.AccountNumber - @acc.AccountType (@acc.Balance.ToString("C"))
                     </option>
                  }
               </select>
            </div>

            <div class="form-group mb-3">
               <label asp-for="DestinationAccNumber">Destination Account</label>
               <select asp-for="DestinationAccNumber" class="form-select" required>
                  <option value="">Select destination account</option>
                  @foreach (var acc in Model.DestinationAccounts)
                  {
                     <option value="@acc.AccountNumber">
                        @acc.AccountNumber - @acc.AccountType (@acc.Balance.ToString("C"))
                     </option>
                  }
               </select>
            </div>

            <div class="form-group mb-3">
               <label asp-for="Amount">Transfer Amount</label>
               <input asp-for="Amount" type="number"  min="1" class="form-control" required />
            </div>
            <div class="form-group mb-3">
               <label asp-for="Amount">Comment (Optional)</label>
               <textarea asp-for="Comment" type="text" class="form-control"> </textarea> 
            </div>

            <div class="d-grid mt-3 align-items-center justify-content-center">
               <button type="submit" class="btn btn-primary " asp-controller="Transfer" asp-action="Transfer" style="width: 200px;">Transfer Funds</button>
            </div>
         </form>
      </div>
   </div>
</div>
    

    

    